:root{
    --Gradient1: hsl(6, 100%, 80%);
    --Gradiant2: hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    --p-size: 14px;
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;
    --p-height: 1.5;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
/* start componants  */
.container{
    margin: 0 auto;
    padding: 0 15px;
}
/* small  */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* medium  */
@media (min-width:992px) {
    .container{
        width: 920px;
    }
}
/* large  */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* extra large  */
@media (min-width:1400px) {
    .container{
        width: 1320px;
    }
}
/* end componants  */
.page{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Very-Dark-Blue);
    background-image: url(../IMAGES/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
@media (max-width:767px) {
    .page{
        background-image: url(../IMAGES/bg-mobile.png);
        background-position: left;
        background-size: cover;
    }
}
.page .container{
    display: flex;
    gap: 20px;
    align-items: end;
    justify-content: center;
}
@media (max-width:767px) {
    .page .container{
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }
}
.container > div{
    padding: 20px;
    background-color: var(--Dark-Blue);
    border-radius: 10px;
}
.container .fylo{
    border-top-right-radius: 70px;
    flex: 1;
}
.container .fylo .logo img{
    width: 100px;
    margin-bottom: 20px;
}
.container .fylo .icons .icon{
    display: inline-flex;
    background-color: var(--Very-Dark-Blue);
    width: 40px;
    height: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 10px;
}
.container .progress{
    position: relative;
    flex: 2;
}
.container .progress p{
    font-size: var(--p-size);
    color: var(--Grayish-Blue);
    margin-bottom: 20px;
}
.container .progress p span{
    color: var(--Pale-Blue);
    font-weight: bold;
}
.container .progress .prog{
    width: 100%;
    height: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: var(--Very-Dark-Blue);
    position: relative;
}
.container .progress .prog::before,
.container .progress .prog::after{
    position: absolute;
    top: calc(100% + 5px);
    color: var(--Pale-Blue);
    font-size: var(--p-size);
}
.container .progress .prog::before{
    content: '0 GB';
    left: 0;
}
.container .progress .prog::after{
    content: '1000 GB';
    right: 0;
}
.container .progress .prog span{
    display: block;
    height: 100%;
    background-image: linear-gradient(90deg, var(--Gradient1), var(--Gradiant2));
    border-radius: 50px;
    position: relative;
}
.container .progress .prog span::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--Pale-Blue);
    right: 1px;
    top: 1px;
}
.container .progress .remain{
    position: absolute;
    background-color: white;
    color: var(--Grayish-Blue);
    font-size: var(--p-size);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    right: 20px;
    top: 0;
    transform: translateY(-50%);
}
.container .progress .remain::after{
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    right: 0;
    border-width: 7px;
    border-style: solid;
    border-color: white white transparent transparent;
}
.container .progress .remain span{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
@media (max-width:767px) {
    .container .progress .remain{
        left: 50%;
        top: 100%;
        transform: translate(-50% , -50%);
        border-bottom-right-radius: 10px;
    }
    .container .progress .remain::after{
        display: none;
    }
}